body {
    font-family: Arial;
    background: black;
    padding: 0;
    margin: 0;
}

header {
    background: #111;
    color: black;
    padding: 15px;
    text-align: center;
}

#searchBox {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 15px;
}

.item {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.item img {
    width: 100%;
    border-radius: 8px;
}

button {
    background: green;
    color: black;
    border: none;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
}

.contact, .newsletter {
    background: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
